*{
    margin:0;
    padding:0;
}
body{
    background-color: #2e2e2e;
}

header nav{
    color:#867772;
    
}
header ul{
    /*width: 40vw;*/
    display: flex;
    list-style: none;
}
header li{
    font-size: 1em;
    margin-right: 60px;
}

header div{
    display: flex;
    justify-content: space-between;}

/* main Start */

main section:nth-of-type(1) h1{
    margin: 7% 60% 1% 20%;
}
main section:nth-of-type(1) img{
    width: 90%;
    margin:0% 0% 15% 4%;
}
/* Design Alchemy*/
main section:nth-of-type(2){
    display: flex;
    margin-bottom: 10%;
    
}
main section:nth-of-type(2) img{
    width: 40rem;
    margin-left: 25%;
}
main section:nth-of-type(2) div:nth-of-type(2){
    margin: 10% 15% 0% 15%;
}

/*The Lounger */
main section:nth-of-type(3){
    display: flex;

}
main section:nth-of-type(3) img{
    width: 70vw;
    height: 100vh;
}
main section:nth-of-type(3) div:nth-of-type(2){
    margin: 5% 3% 0% 1%;
    line-height: 1.5em;
}
main section:nth-of-type(3) div:nth-of-type(2) p{
    margin-top: 20%;
}
/* Sound like Home */
main section:nth-of-type(4){
    display: flex;
    margin-top: 10%;
}
main section:nth-of-type(4) img{
    width: 60rem;
    height: 100vh;
}
main section:nth-of-type(4) div:nth-of-type(2){
    margin: 10% 4% 0% 3%;
    
}
main section:nth-of-type(4) div:nth-of-type(2) p{
    margin-top: 20%;
    line-height: 3em;
    
}
/* Text section between 4 - 5*/
main section:nth-of-type(5){
    margin: 0% 0% 10% 17%;
}
#Video{
    margin: 20% 0% 10% 20%;
}
main section:nth-of-type(5) p{
    font-size: 1.5em;
}
main section:nth-of-type(5) span {
    font-size: 2em;
}
main section:nth-of-type(5) a{
    text-decoration: none;
    color:white;
    border:solid;
    padding: 10px 20px;
    line-height: 5em;
}
/* Sound Alchemy*/
main section:nth-of-type(6){
    display: flex;
    
}
main section:nth-of-type(6) div:nth-of-type(2){
    margin: 10% 0% 0% 2%;
}
main section:nth-of-type(6) img{
        width: 45rem;
}
main section:nth-of-type(6) div:nth-of-type(2) p{
    margin-top: 5%;
}
/* Second Artilce*/
main section:nth-of-type(7){
    display: flex;
    flex-direction: row-reverse;
}
main section:nth-of-type(7) img{
    width: 45rem;
}
main section:nth-of-type(7) div:nth-of-type(2){
    margin:5% 0% 0% 5%;
    line-height: 3em;
}
/* Beoplay*/

footer section{
    display: flex;
    margin-top: 10%;
}
footer div:nth-of-type(1) img{
    width: 50rem;
    height: 100vh;
}
/* Article */
footer div:nth-of-type(2) article{
    margin-left: 50%;
    line-height: 3em;
}
footer div:nth-of-type(2) img{
    margin-left:10%;
}

footer div:nth-of-type(2) a{
    text-decoration: none;
    background-color:white;
    border:solid white;
    padding: 5% 10%;
}